# Primary Bind9 Configuration file

# Load options
include "/etc/bind/named.conf.options";

{% if primary %}
# Load dhcpupdate key file
include "/etc/bind/dhcpupdate.key";
{% endif %}

# Zone Configurations

{% if primary %}
zone "dorwinia.com" {
	type master;
	file "/var/lib/bind/db.dorwinia.com";
	allow-transfer { 192.168.1.12; };
	allow-update { key "dhcpupdate"; };
        };

zone "1.168.192.in-addr.arpa" {
	type master;
	notify no;
	file "/var/lib/bind/db.192";
	allow-transfer { 192.168.1.12; };
	allow-update { key "dhcpupdate"; };
};
{% else %}
zone "dorwinia.com" {
        type slave;
        file "/var/cache/bind/db.dorwinia.com";
        masters { 192.168.1.11; };
        };

zone "1.168.192.in-addr.arpa" {
        type slave;
        file "/var/cache/bind/db.192";
        masters { 192.168.1.11; };
};
{% endif %}
