# Rules for Dorwinia

# Send all messages to syslog server except the specified facilities
*.info;mail.none;authpriv.none;cron.none @192.168.1.148:1514

{% if inventory_hostname == 'craftbox.dorwinia.com' %}
# Pull in logs from Minecraft server
input(type="imfile"
        Tag="minecraft-logs"
        File="/home/dorwin/vanilla-mc/logs/latest.log"
        Severity="info"
)

if ($programname contains "minecraft") then {
        action (type="omfwd"
                Target="192.168.1.148"
                Port="1514"
                Protocol="udp"
        )
}
{% endif %}


{% if inventory_hostname == 'roxybox.dorwinia.com' %}
#
# Pull in logs from reverse proxy box, separated by site
#

# Test site logs
input(type="imfile"
        Tag="nginx-access-test"
        File="/var/log/nginx/test.access"
        Severity="info"
)
input(type="imfile"
        Tag="nginx-error-test"
        File="/var/log/nginx/test.error"
        Severity="error"
)

#Wiki site logs
input(type="imfile"
        Tag="nginx-access-wiki"
        File="/var/log/nginx/wiki.access"
        Severity="info"
)
input(type="imfile"
        Tag="nginx-error-wiki"
        File="/var/log/nginx/wiki.error"
        Severity="error"
)

#Gitlab site logs
input(type="imfile"
        Tag="nginx-access-gitlab"
        File="/var/log/nginx/gitlab.access"
        Severity="info"
)
input(type="imfile"
        Tag="nginx-error-gitlab"
        File="/var/log/nginx/gitlab.error"
        Severity="error"
)

# Ship all nginx site logs to graylog
if ($programname contains "nginx") then {
        action (type="omfwd"
                Target="192.168.1.148"
                Port="1514"
                Protocol="udp"
        )
}
{% endif %}

{% if inventory_hostname == 'netbox.dorwinia.com' %}
#
# Pull in logs from nginx and netbox
# 

# nginx logs
input(type="imfile"
        Tag="netbox-access-nginx"
        File="/var/log/nginx/access.log"
        Severity="info"
)
input(type="imfile"
        Tag="netbox-error-nginx"
        File="/var/log/nginx/error.log"
        Severity="error"
)

# netbox logs
input(type="imfile"
        Tag="netbox-log"
        File="/var/log/netbox.log"
        Severity="info"
)

# Ship all nginx and netbox logs to graylog
if ($programname contains "netbox") then {
        action (type="omfwd"
                Target="192.168.1.148"
                Port="1514"
                Protocol="udp"
        )
}
{% endif %}
