# Primary DHCP server config

# Take precedence over other DHCP server leases
authoritative;

# Dynamic DNS Updates
ddns-update-style interim;

# Set logging
log-facility local7;

# High-availability settings
failover peer "failover-partner" {
{% if primary %}
	primary;
	address dhcp-1.dorwinia.com;
	port 519;
	peer address dhcp-2.dorwinia.com;
	peer port 520;
	mclt 3600;
	split 128;
{% else %}
	secondary;
	address dhcp-2.dorwinia.com;
	port 520;
	peer address dhcp-1.dorwinia.com;
	peer port 519;
{% endif %}
	max-response-delay 60;
	max-unacked-updates 10;
	load balance max seconds 3;
}

# Subnet declarations: -------------------------------------------------------------

# Management Network
subnet 192.168.1.0 netmask 255.255.255.0 {
	option domain-name		"dorwinia.com";
        option subnet-mask              255.255.255.0;
        option routers                  192.168.1.1;
        option broadcast-address        192.168.1.255;
        option domain-name-servers      192.168.1.13, 192.168.1.11, 192.168.1.12;
        default-lease-time 		3600;
        max-lease-time 			7200;
	pool {
		range			192.168.1.200 192.168.1.254;
		failover peer 		"failover-partner";
	}
}

# User LAN
subnet 10.0.40.0 netmask 255.255.255.0 {
	option domain-name		"local.dorwinia.com";
        option subnet-mask              255.255.255.0;
        option routers                  10.0.40.1;
        option broadcast-address        10.0.40.255;
        option domain-name-servers      192.168.1.13, 192.168.1.11, 192.168.1.12;
        default-lease-time 		3600;
        max-lease-time 			7200;
	pool {
		range			10.0.40.10 10.0.40.254;
		failover peer 		"failover-partner";
	}
}

# Guest LAN
subnet 10.0.50.0 netmask 255.255.255.0 {
	option domain-name		"guest.dorwinia.com";
        option subnet-mask              255.255.255.0;
        option routers                  10.0.50.1;
        option broadcast-address        10.0.50.255;
        option domain-name-servers      192.168.1.13, 192.168.1.11, 192.168.1.12;
        default-lease-time 		3600;
        max-lease-time 			7200;
	pool {
		range			10.0.50.10 10.0.50.254;
		failover peer 		"failover-partner";
	}
}

# Dynamic DNS configuration
include "/etc/dhcp/dhcpupdate.key";
# User LAN
zone local.dorwinia.com. {
        primary 192.168.1.11;
        key dhcpupdate;
}
zone 40.0.10.in-addr.arpa {
        primary 192.168.1.11;
        key dhcpupdate;
}
#Guest LAN
zone guest.dorwinia.com. {
        primary 192.168.1.11;
        key dhcpupdate;
}

zone 50.0.10.in-addr.arpa {
        primary 192.168.1.11;
        key dhcpupdate;
}

