# Rules for Dorwinia

# Send all messages to syslog server except the specified facilities
*.info;mail.none;authpriv.none;cron.none @192.168.1.148:1514

{% if inventory_hostname == 'craftbox.dorwinia.com' %}
# Pull in logs from Minecraft server
input(type="imfile"
        Tag="minecraft-logs"
        File="/home/dorwin/vanilla-mc/logs/latest.log"
        Severity="info"
)

if ($programname contains "minecraft") then {
        action (type="omfwd"
                Target="192.168.1.148"
                Port="1514"
                Protocol="udp"
        )
}
{% endif %}


{% if inventory_hostname == 'roxybox.dorwinia.com' %}
#
# Pull in logs from reverse proxy box, separated by site
#

# Test site logs
input(type="imfile"
        Tag="nginx-access-test"
        File="/var/log/nginx/test.access"
        Severity="info"
)
input(type="imfile"
        Tag="nginx-error-test"
        File="/var/log/nginx/test.error"
        Severity="error"
)

# Ship all nginx site logs to 
if ($programname contains "nginx") then {
        action (type="omfwd"
                Target="192.168.1.148"
                Port="1514"
                Protocol="udp"
        )
}
{% endif %}
